*{
    margin: 0px;
    padding: 0px;
   
}

div{
    display: inline;
}
.navbar-container{
    margin-top:20px ;
    margin-left: 10px;
    width: 100vw;
    
}
.list{
    display: inline;
    margin-left: 100px;
    font: 20px Poppins;
    font-family: Orbitron;
    font-weight: 600;
    padding: 100px;
    padding-bottom: 40px;
    
    
    
}

.list-item{
    display: inline;
    padding: 20px;
   
}
.list li:first-child {
    border-bottom:3px solid black ;
    
  }
  



.button-group{
    margin-left: 200px;
}
.button-group div:first-child{
    margin-top: 20px;
}

.nav-button{
    height: 50px;
    width: 150px;
    font-size: 20px;
    border-radius:10px;
    margin-left: 10px;
    background-color: #fff;
}
/* navbar end here */

.hero-container{
    display: flex;
    margin-top: 40px;

}
.square{
    position: relative;
    top: 20px;
    left: 30px;
    margin-top: 120px;
    margin-left: 10px;
}
.person{
    position:absolute;
    
}

.globe{
    position:relative;
    left: 20%;
    height: 10px
;
}
.star{
    position:absolute;
    top: 150px;
    left: 90%;
    height: 5px;
    width: 5px;
    

}
.hero-container-right{
    position: relative;
    top: 150px;
    /* left: 100px; */
}
.hero-heading{

    font-weight: 900;
    font-size: 60px;
    font-family: Orbitron;
    padding-left: 2px ;

}
.hero-description{
    font-size: 18px;
    /* padding-left:100px ; */
    color:#535C68;
    padding: 80px;
    margin-right: 200px;
}
.button-email{
    width: 200px;
    height: 30px;
  border-radius: 7px;
  background-color: #fff;
  font-family: Orbitron;
  font-size: 20px;
  font-weight: bold;
  margin-left:190px ;
}
.button-join{
    width: 150px;
    height: 30px;
  border-radius: 7px;
  background-color:black;
  font-family: Orbitron;
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  margin-left: 10px;

}

.contact-heading{
    font-size: 20px;
    color:#535C68;
    padding-top: 30px;
    padding-left: 30%;
    padding-bottom: 15px;
}
.icons{
    padding-left: 26%;
    
}